.small-title {
    text-align: center;
    font-size: 36pt;
    font-weight: 600;
    line-height: 1;
}

.large-title {
    text-align: center;
    font-size: 80pt;
    font-weight: 600;
    line-height: 1;
}

body {
    margin: 0;
    padding: 25px;
    font-family: "Inter UI";
    background: linear-gradient(#000000, #004000);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
}

html {
    background: #004000;
}

.finale-video {
    margin: 25px;
}

@media (min-width:740px) {
    .finale-video {
        width: 640px;
        height: 360px;
    }
}

@media (min-width:1060px) {
    .finale-video {
        width: 960px;
        height: 540px;
        margin: 50px 25px;
    }
}

@media (min-width:1380px) {
    .finale-video {
        width: 1280px;
        height: 720px;
    }
    .small-title {
        font-size: 54px;
    }
    .large-title {
        font-size: 120px;
    }
}

.finale-wrapper {
    width:100%;
    text-align:center;
}

.credits {
    margin-top: 50px;
}

.middle-text {
    text-align: center;
}

a {
    font-weight: 600;
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.75;
}



.intro {
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
