@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700;900&display=swap');

:root {
    --thegradient: linear-gradient(90deg, rgba(241,156,3,0.9) 0%, rgba(245,220,10,0.9) 50%, rgba(241,156,3,0.9) 100%);
}

body {
    background: url('background.png') #545254 center/cover no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Titillium Web';
    color: #111;
    font-weight: 700;
    user-select: none;
    overflow: hidden;
}

#wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main {
    display: block;
    width: 1000px;
    height: 750px;
    position: relative;
}

#hashtag {
    display: block;
    padding: 10px 60px;
    margin-top: 30px;
    font-size: 60px;
}

#main, #hashtag {
    border-radius: 30px;
    background: var(--thegradient);
    border: solid 10px grey;
}

.name {
    position: absolute;
    display: block;
    width: 350px;
    height: 100px;
    text-align: center;
    font-weight: 700;
    text-shadow: 0px 0px 20px rgba(127,127,127,1);
    top: 140px;
}

.name span {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

#playera-name {
    left: 135px;
}

#playerb-name {
    right: 135px;
}

.score {
    position: absolute;
    display: block;
    background: #111;
    overflow: hidden;
    width: 300px;
    height: 175px;
    top: 256px;
    color: #eee;
    box-shadow: inset 0px 0px 10px 3px rgba(127,127,127,0.7);
}

#playera-score {
    left: 160px;
}

#playerb-score {
    right: 160px;
}

.top {
    position: absolute;
    top: -5px;
    right: 0;
    padding: 0px 25px;
    text-align: right;
    font-size: 175px;
    line-height: 1;
}

.bottom {
    position: absolute;
    top: 90%;
    right: 0;
    padding: 0px 25px;
    text-align: right;
    font-size: 175px;
    line-height: 1;
}

.holder {
    position: absolute;
    display: block;
    background: #111;
    overflow: hidden;
    width: 300px;
    height: 25px;
    top: 446px;
    color: #eee;
}

#playera-holder {
    left: 160px;
}

#playerb-holder {
    right: 160px;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: rgba(255,0,0,0.9);
    width: 0px;
    height: 25px;
}

.bar-shadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset 0px 0px 10px 3px rgba(127,127,127,0.7);
}

#shared-games {
    display: grid;
    position: absolute;
    top: 55px;
    left: 55px;
    grid-gap: 10px;
    grid-auto-flow: column;
}

#playera-games {
    display: grid;
    position: absolute;
    top: 531px;
    left: 160px;
    grid-gap: 12px;
    grid-template-columns: repeat(5, 50px);
}

#playerb-games {
    display: grid;
    position: absolute;
    top: 531px;
    left: 540px;
    grid-gap: 12px;
    grid-template-columns: repeat(5, 50px);
}

#lights-toggle {
    display: block;
    position: absolute;
    top: 531px;
    left: 458px;
    width: 82px;
    height: 174px;
}

.shared, .playera, .playerb {
    text-align: center;
    width: 50px;
    height: 50px;
    background: #eee;
    line-height: 50px;
    font-size: 30px;
    box-shadow: inset 0px 0px 5px 3px rgba(127,127,127,0.7);
}

.playera, .playerb {
    background: #111;
}

#safearea {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 90%;
    width: 90%;
    background: rgba(255,0,0,0.5);
    display: none;
}

[contenteditable] {
    user-select: text;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}
